# Python & environments
venv/
__pycache__/
*.pyc

# IDEs
.vscode/

# Environment Variables
.env
backend/.env

# Node & Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*

# MacOS
.DS_Store

# DB
backend/data/*.db
backend/uploads/*
!backend/uploads/.gitkeep
